cap-widget {
    --cap-background: #212121;
    --cap-border-color: #424242;
    --cap-color: #f5f5f5;
    --cap-checkbox-background: #303030;
    --cap-checkbox-border: 1px solid #616161;
    --cap-spinner-color: #f5f5f5;
    --cap-spinner-background-color: #424242;
    --cap-border-radius: 12px;
}

#tips {
    background-color: transparent;
    box-shadow: none;
}
